@use '../abstracts/mixins' as *;
@use  '../abstracts/media-query' as *;

.feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;


    .fea-box{
        width: 180px;
        text-align: center;
        padding: 25px 15px;
        @include card-shadow;
        border: 1px solid var(--clr-basic-200);
        border-radius: 4px;

        &:nth-child(2) h6{
            background-color: #cdebbc;
        }
        &:nth-child(3) h6{
            background-color: #d1e8f2;
        }
        &:nth-child(4) h6{
            background-color: #cdd4f8;
        }
        &:nth-child(5) h6{
            background-color: #f6dbf6;
        }
        &:nth-child(6) h6{
            background-color: #fff2e5;
        }

        img{
            width: 100%;
            margin-bottom: 10px;
        }

        h6{
            display: inline-block;
            padding: 9px 8px 6px 8px ;
            line-height: 1;
            border-radius: 4px;
            color: var(--clr-primary-500);
            background-color: var(--clr-youtube-100);
        }
       
    }
}

@include small-screen{   
    .feature{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .8rem !important;

        .fea-box{
            width: 150px !important;
        }
    }
}
@include medium-screen{
    
    .feature{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }
}