$colors:(
    primary: (
        100: hsl(176, 88%, 90%),
        200: hsl(176, 88%, 77%),
        300: hsl(176, 88%, 67%),
        400: hsl(176, 88%, 47%),
        500: hsl(176, 88%, 27%),
        600: hsl(176, 88%, 17%),
        700: hsl(176, 88%, 10%),
    ),
    article: (
        100: hsl(400, 89%, 80%),
        200: hsl(400, 89%, 70%),
        300: hsl(400, 89%, 60%),
        400: hsl(400, 89%, 37%),
        500: hsl(400, 89%, 20%),
        600: #ffdd1c,
    ),
    youtube: (
        100: hsl(3, 81%, 92%),
        200: hsl(3, 81%, 80%),
        300: hsl(3, 81%, 70%),
        400: hsl(3, 81%, 60%),
        500: hsl(3, 81%, 46%),
        600: hsl(3, 81%, 20%),
    ),
    course: (
        100: hsl(176, 66%, 70%),
        200: hsl(176, 66%, 60%),
        300: hsl(176, 66%, 40%),
        400: hsl(176, 66%, 30%),
        500: hsl(176, 66%, 20%),
    ),
    basic: (
        100: hsl(0, 0%, 100%),
        200: hsl(0, 0%, 94%),
        300: hsl(0, 0%, 47%),
        400: hsl(0, 0%, 25%),
        500: hsl(0, 0%, 12%),
        600: hsl(0, 0%, 2%),
        700: hsl(0, 0%, 74%),
    )
);